Source: python-ucam-webauth
Priority: optional
Maintainer: Malcolm Scott <debianpkg@malc.org.uk>
Build-Depends: debhelper (>= 9.0.0), dh-python, python3-all-dev, python3-setuptools, python3-nose, python3-sphinx (>= 1.0.7+dfsg-1~), python3-flask, libssl-dev
Standards-Version: 3.9.5
Section: python
Homepage: https://python-ucam-webauth.readthedocs.io/
Vcs-Git: https://github.com/mas90/python-ucam-webauth
Vcs-Browser: https://github.com/mas90/python-ucam-webauth
X-Python3-Version: >= 3.1

Package: python3-ucam-webauth
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: python3-flask
Suggests: python-ucam-webauth-doc
Provides: ${python3:Provides}
Breaks: python3-raven (<< 0.9)
Replaces: python3-raven (<< 0.9)
Description: Ucam-webauth and Raven application agent in Python 3
 Integrate the University of Cambridge's web-based single sign-on system,
 Raven, into a Python-based web application (including decorators for Flask).
 .
 This version is for use in Python 3.

Package: python-ucam-webauth-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Breaks: python-raven-doc (<< 0.9)
Replaces: python-raven-doc (<< 0.9)
Description: Ucam-webauth and Raven application agent in Python: documentation
 This package contains the documentation for python-ucam-webauth /
 python3-ucam-webauth.
 .
 These integrate the University of Cambridge's web-based single sign-on system,
 Raven, into a Python-based web application (including decorators for Flask).
