Source: python-raven
Priority: optional
Maintainer: Malcolm Scott <debianpkg@malc.org.uk>
Build-Depends: debhelper (>= 9.0.0), python-all-dev (>= 2.7), python-setuptools, python-nose, python-sphinx (>= 1.0.7+dfsg-1~), python-flask, libssl-dev
Standards-Version: 3.9.5
Section: python
Homepage: https://pythonhosted.org/python-raven/
Vcs-Git: git://github.com/mas90/python-raven
Vcs-Browser: https://github.com/mas90/python-raven/tree/deb-precise
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.1

Package: python-raven
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: python-flask
Suggests: python-raven-doc
Provides: ${python:Provides}
Description: Ucam-webauth and Raven application agent in Python 2
 Integrate the University of Cambridge's web-based single sign-on system,
 Raven, into a Python-based web application (including decorators for Flask).
 .
 This version is for use in Python 2.

Package: python-raven-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Ucam-webauth and Raven application agent in Python: documentation
 This package contains the documentation for python-raven / python3-raven.
 .
 These integrate the University of Cambridge's web-based single sign-on system,
 Raven, into a Python-based web application (including decorators for Flask).
