#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME=raven

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -f ucam_webauth/*.so

override_dh_sphinxdoc:
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml docs/source/ $(CURDIR)/debian/python-raven-doc/usr/share/doc/python-raven/html
	dh_sphinxdoc -O--buildsystem=pybuild usr/share/doc/python-raven/html

override_dh_auto_install:
	dh_makeshlibs
	dh_shlibdeps
	dh_auto_install

